body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  position: relative;
  background: #f2f2f2;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

h1,
h2,
li,
ul,
h3,
p,
h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.button {
  transition: 0.2s;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375em;
  text-decoration: none;
  color: white;
  background: rgba(199, 161, 122, 1);
  border-radius: 35px;
  padding: 6px 20px 6px 20px;
  display: inline-block;
  width: fit-content;
  letter-spacing: 0.05em;
}

.button:hover {
  background: rgba(199, 161, 122, 0.7);
}

.text-info-item {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.364em;
  text-align: center;
  color: rgba(21, 29, 40, 1);
}

h1,
h2 {
  color: #415167;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.296em;
  width: 470px;
  z-index: 1;
  bottom: 10%;
  left: 22%;
  position: absolute;
}

h1 span {
  color: white;
  background: rgba(199, 161, 122, 1);
  padding: 0 17px;
  margin-left: -17px;
  display: block;
  width: fit-content;
}

h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.133em;
  text-align: center;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  line-height: 1.167em;
  font-weight: 700;
  color: rgba(35, 44, 56, 1);
}

h2 span {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
  display: block;
  text-transform: capitalize;
}

.new-number {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  color: rgba(199, 161, 122, 1);
}

.old-number {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.364em;
  text-decoration-line: line-through;
  color: rgba(65, 81, 103, 1);
}

.free-object {
  position: absolute;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/************* header  *************/

header {
  position: relative;
  display: flex;
  height: 100vh;
}

.header__link {
  font-weight: 300;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  line-height: 1.5em;
  color: rgba(237, 240, 245, 1);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.header__link:hover {
  font-weight: 700;
  color: white;
}

.header__video-screen {
  background: url("../img/header-bg.jpg") 0 0 / cover no-repeat;
  max-width: 690px;
  width: 690px;
  height: 100%;
  right: 250px;
}

nav {
  height: 100%;
  background: rgba(65, 81, 103, 1);
  position: absolute;
  width: 251px;
  align-items: center;
  right: 0;
  grid-template-rows: 1fr;
  padding: 10px 0 261px 57px;
  box-sizing: border-box;
  grid-row-gap: 30px;
}

.header__shopping-cart {
  width: 24px;
  height: 24px;
}

.header__logo {
  left: 22%;
  top: 10%;
  z-index: 1;
}

/* header  */
/************* Features  *************/

.Features {
  padding: 87px 0 129px;
}

.Features__item {
  width: 225px;
  text-align: center;
}

.Features__item h3 {
  margin: 45px 0 12px;
}

.Features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 72px;
}

/* Features  */
/************* coffee  *************/
.coffee {
  padding: 127px 0;
  background: url("../img/BG-coffee.jpg") 0 0 / auto 100% no-repeat;
  position: relative;
  height: 894px;
}

.coffee__card {
  width: 560px;
  height: 256px;
  display: flex;
  background: rgba(237, 240, 245, 1);
  transition: 0.2s;
}

.coffee__title {
  margin-bottom: 60px;
}

.coffee__card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.coffee__card-info {
  background: white;
  width: 100%;
  padding: 42px 0 44px 45px;
}

.coffee__details {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 29px;
  font-weight: 700;
}

.coffee__info {
  text-align: start;
  margin: 25px 0;
}

.coffee__price {
  margin-bottom: 8px;
}

.coffee__swiper-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: none;
}

.coffee__swiper-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: none;
}

.coffee__swiper-next,
.coffee__swiper-prev {
  height: 48px;
  width: 48px;
  background: rgba(199, 161, 122, 1);
  border-radius: 50%;
  margin-top: -42px;
}

.coffee__swiper-next {
  right: 0;
}

.coffee__swiper-prev {
  left: 0;
}

.coffee__swiper-next.swiper-button-disabled,
.coffee__swiper-prev.swiper-button-disabled {
  display: none;
}

.coffee__swiper-prev img {
  transform: rotateY(180deg);
}

.coffee__slider {
  width: 90%;
  position: absolute;
  right: 0;
}

.coffee__slider {
  height: 576px;
}

.coffee__card-slider {
  height: calc(100% / 2);
  overflow: hidden;
}
/* coffee  */
/************* giftset  *************/

.giftset {
  padding: 86px 0 126px 0;
  position: relative;
  background: url("../img/bg-giftset.jpg") 0 0 / 75% 100% no-repeat;
}

.giftset__details {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 29px;
  font-weight: 700;
}

.giftset__card {
  background: white;
  position: relative;
  padding: 64px 66px 64px 298px;
  height: 332px;
  width: 455px;
  margin-right: -202px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.giftset__card-info {
  width: 443px;
  height: 330px;
}

.giftset__img {
  position: absolute;
  top: 67px;
  left: -255px;
}

.giftset__text {
  text-align: start;
}

.giftset__advantage-coffee {
  display: flex;
}

.giftset__advantage-coffee h4 {
  color: rgba(65, 81, 103, 1);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.364em;
  margin-left: 10px;
}

.giftset__advantage-coffee h4 span {
  font-weight: 300;
  display: block;
  text-transform: none;
}

.giftset__advantage-coffee-wrapper {
  justify-content: space-between;
  margin: 24px 0 46px;
}

.giftset__card h3 {
  margin: 12px 0;
}

.giftset__slider {
  height: 460px;
  width: 1200px;
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 68px;
}

.giftset__pagination {
  display: grid;
  height: 100%;
  width: 88px;
}

.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 0;
}

.giftset__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1);
}

.giftset__pagination .swiper-pagination-bullet {
  background: rgba(237, 240, 245, 1);
}

/* giftset  */
/************* combo  *************/
.combo {
  background: url("../img/BG-combo.jpg") right / 25% no-repeat;
  padding: 88px 0 128px;
}

.combo__block {
  width: 400px;
  height: 200px;
  background: black;
}
/* combo  */
/************* header  *************/
/* header  */
/************* header  *************/
/* header  */
/************* header  *************/
/* header  */
/************* header  *************/
/* header  */
/************* header  *************/
/* header  */
/************* header  *************/
/* header  */
