@media screen and (max-width: 1100px) {
  .Features__list {
    grid-template-columns: none;
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 425px;
  }

  h1 {
    font-size: 30px;
    width: fit-content;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 375px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 320px;
  }
}
