@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1366px) {
  .header__video-screen {
    width: 50%;
  }

  .header__logo-black {
    left: -220px;
  }
}

@media screen and (max-width: 1200px) {
  /* .giftset__slider {
    width: 1024px;
  } */

  .coffee__card {
    margin: 0 auto;
  }

  h1,
  .header__logo {
    left: -220px;
  }

  .giftset__img {
    left: -150px;
  }
}
@media screen and (max-width: 1100px) {
  .Features__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 768px;
  }

  /* .giftset__slider {
    width: 640px;
  }

  .giftset__img {
    display: none;
  }

  .giftset__card {
    padding: 64px 66px 64px 20px;
    margin-right: 77px;
  } */

  .combo__swiper-next {
    right: 43px;
  }

  .combo__swiper-prev {
    left: 43px;
  }

  .combo__slider {
    margin-left: 0;
    padding: 10px 0;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    color: white;
  }

  h1,
  .header__logo-white {
    left: 60px;
  }

  .header__logo-black {
    display: none;
  }

  .header__logo-white {
    display: block;
  }

  .header__video-screen {
    width: 75%;
  }

  .giftset__slider {
    height: 800px;
  }

  .giftset__card {
    padding: 65px;
  }

  .giftset__img {
    left: 170px;
    top: 400px;
  }
}

@media screen and (max-width: 768px) {
  .container,
  .giftset__slider {
    width: 425px;
  }

  .combo__pagination {
    display: block;
  }

  .coffee__pagination {
    display: block;
  }

  .header__logo {
    top: 5%;
  }

  .giftset__pagination {
    grid-gap: 20px;
    height: 20px;
    width: 20px;
  }

  .swiper-container-vertical
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: rgba(65, 81, 103, 0.7);
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
  }

  .coffee,
  .giftset,
  .combo {
    background-size: 100% 100%;
  }

  .header__hamburger {
    display: block;
  }

  h2 {
    color: rgba(35, 44, 56, 1);
  }

  .giftdet__slider {
    height: 515px;
  }

  .giftset__card,
  .giftset__card-info {
    width: 320px;
    height: auto;
  }

  .giftset__slider {
    height: 520px;
  }
  .giftset__card {
    padding: 64px 0px 64px 20px;
    margin-right: 90px;
  }

  .coffee__img {
    display: none;
  }

  .coffee__card-info {
    padding: 20px 0;
  }

  .coffee__card {
    width: 320px;
    height: auto;
    text-align: center;
  }

  .coffee__info {
    text-align: center;
  }

  .coffee__swiper-next,
  .coffee__swiper-prev {
    display: none;
  }

  .coffee__slider {
    height: auto;
    margin-right: auto;
  }

  .combo__card {
    margin: 0 auto;
  }

  nav.grid {
    display: none;
  }

  .header__video-screen {
    width: 100%;
    right: 0;
  }

  .header__logo-white {
    top: 25px;
  }

  h1 span {
    color: white;
    background: none;
    padding: 0;
    margin-left: 0;
    display: inline-block;
    width: auto;
  }

  h1 {
    text-align: center;
    width: 100%;
    left: 0;
  }

  .header__video-screen a {
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .header__logo-white {
    width: 100px;
    top: 35px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    width: 400px;
    text-align: center;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
  }

  .header__logo-white {
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
  }
  .Features__item {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .container,
  .giftset__slider {
    width: 375px;
  }

  .giftset__card {
    margin-right: 0;
  }

  .combo__img {
    display: none;
  }

  .combo__card {
    height: auto;
    width: 310px;
  }

  .giftset__card {
    padding: 64px 0px 64px 0;
  }

  h1 {
    width: 100%;
  }

  .Features__list {
    grid-template-columns: none;
  }
}
@media screen and (max-width: 375px) {
  .container,
  .giftset__slider {
    width: 320px;
  }

  .coffee__card {
    width: 276px;
  }

  .coffee__slider {
    width: auto;
    margin-right: 0;
    padding: 5px 0 5px 0;
  }

  h1 {
    font-size: 30px;
  }
}
